.login{width: 400px;
    margin: 60px auto ;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
  }
.pull-left{float: left;}
a{color: #000000; text-decoration: none}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}
.normal-title{font-weight: 400;color: #2e6da4;margin: 0 auto 40px; padding: 10px 60px;}
.normal-title .active {font-weight: 700;color: #2e6da4;border-bottom: 2px solid #2e6da4;}
.normal-title a{padding:10px 20px; font-size: 18px;}
.label{ font-size: 13px;}
.form-control{height: calc(1.5em + .75rem + 8px) !important; font-size: 0.8rem !important;}
.code{width: 200px; margin-right: 5px;}
body{background-color: #EFEFEF}
.title {
    width: 400px;
    margin: 60px auto ;
}
.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}

.btn-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover{
    background-color: #2e6da4;
    border-color: #2e6da4;
}

.btn-outline-primary {
    color: #2e6da4;
    border-color: #2e6da4;
}

.btn-outline-primary:hover{
    background-color: #2e6da4;
    border-color: #2e6da4;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2e6da4;
    border-color: #2e6da4;
}